---
import type { CollectionEntry } from "astro:content";
import { ArrowUpRightFromSquare } from "lucide-astro";
import { tags } from "../content/tags";
import { calculateYearsSince } from "../utils/calculateYearsSince";
import { getBlog } from "../db";

interface Props {
    blog: CollectionEntry<"blogs">;
}

const { blog: _blog } = Astro.props;

const blog = getBlog(_blog);
---

<div
    class="flex min-h-44 flex-col rounded-lg border-clr-border bg-clr-foreground p-3 transition-all hover:bg-clr-foreground-hover"
>
    <a
        href={`/blogs/${blog.slug}`}
        data-blog-modal-trigger={blog.slug}
        data-blog-modal-data={JSON.stringify(blog)}
        class="mb-4 block text-left"
    >
        <div class="aspect-[1.91/1]">
            {
                blog.image ? (
                    <img
                        class={`h-full overflow-hidden rounded ${blog.imageRatio === "square" ? "aspect-square object-contain" : "w-full object-cover"}`}
                        src={blog.image}
                        alt=""
                    />
                ) : (
                    <div class="flex size-full items-center justify-center rounded bg-clr-background p-4 text-xl font-bold">
                        {blog.title}
                    </div>
                )
            }
        </div>
        <h3 class="mt-4 text-lg font-bold leading-none">
            {blog.author}
        </h3>
        <p class="mt-2 text-sm">
            {blog.tags.join(", ")}
        </p>
    </a>
    <div class="mt-auto flex items-center justify-between">
        <a
            href={blog.url}
            title="Open in new tab"
            target="_blank"
            class="flex size-4 items-center justify-center"
        >
            <ArrowUpRightFromSquare class="size-4" />
        </a>
    </div>
</div>
